<!DOCTYPE html>
<html>
<body>

<h2>HTML edit </h2>

<form method="POST" class="post-form">{% csrf_token %}

        <table>
          <tr>
              <th>Id</th>
            <th>Name</th>
            <th>Fruits</th>
              <th>Edit</th>
          </tr>
            {% for i in list %}
          <tr>

            <td>{{i.id}}</td>
            <td>{{i.username}}</td>
            <td>{{i.fruit}}</td>
              <td><button class="btn btn-default"><a href="edit?id={{i.id}}">Edit</a></button></td>


          </tr>
            {% endfor %}
        </table>

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</body>
</html>

